<div id="modal1" class="modal">
  <div class="modal-content">
    <h1>Please Sign In</h1>

    <%= form_tag sessions_path do %>
    <div>
      <%= label_tag :email %>
      <%= email_field_tag :email %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <%= submit_tag "Sign In", class: "btn btn-primary" %>
    <% end %>
    No account? <%= link_to "Sign Up!", new_user_path %>

  </div>

</div>
