<%= form_for @sighting, remote: true do |f| %>
<fieldset class="form-group-1">
  <%= f.label :animal_spotted %>
  <%= f.text_field :animal, class: "form-control-1", autofocus: true, 'data-behavior' => 'submit_on_enter' %>
</fieldset>

<fieldset class="form-control-1">
  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control-1", autofocus: true, 'data-behavior' => 'submit_on_enter' %>
</fieldset>

<fieldset class="form-control-1">
  <%= f.label :submited_by %>
  <%= f.text_field :submited_by, class: "form-control-1", autofocus: true, 'data-behavior' => 'submit_on_enter' %>
</fieldset>

<div class="form-group row">
  <div class="col-sm-3">
    <%= f.text_field :latitude, class: "form-control", hidden:true %>
  </div>
  <div class="col-sm-3">
    <%= f.text_field :longitude, class: "form-control", hidden:true %>
  </div>
</div>
<%= f.submit 'Add!', class: 'btn btn-primary'  %>
<% end %>
