<div id="main-page">
  <div id="map"></div>

  <script type="text/javascript">
  handler = Gmaps.build('Google');

  handler.buildMap({ provider: { scrollwheel: false, zoomControl: false }, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @sighting.latitude %>,
        "lng": <%= @sighting.longitude %>,
        "infowindow": "<%= @sighting.animal %>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
  </script>

  <div class="right-col">
    <div id="forms">
      <%= render 'form' %>
    </div>
    <div id="animal_report">
      <% @sightings.each do |s| %>
      <%= render "/sightings/sighting", sighting: s %>
      <% end %>
    </div>
  </div>
</div>
