<div class="container">
  <header><%= @sighting.animal %></h1></header>
  <p><strong>Description:</strong> <%= @sighting.description %> </p>
  <p><strong>Submited by:</strong> <%= @sighting.submited_by %> </p>

  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@sighting.latitude},#{@sighting.longitude}&markers=#{@sighting.latitude},#{@sighting.longitude}&zoom=15&size=640x400&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8", class: 'img-fluid img-rounded', alt: "#{@sighting.animal} on the map"%>
</div>
<div class="container">
  <%= link_to "Delete", sighting_path(@sighting), method: :delete, data: {confirm: "Are you sure"} %> | 
  <%= link_to "Back", root_path %>
</div>
